.billing {
  width: 1230.4000244140625;
  height: 61.60000228881836;
  opacity: 1;
}
.billing-title {
  width: 257;
  height: 36;
  opacity: 1;
  top: 0.4px;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75px;
  color: #0f172b;
  margin-bottom: 3px;
  text-align: left;
}
.billing-subtitle {
  width: 213;
  height: 26;
  opacity: 1;
  top: -0.4px;
  font-family: Segoe UI;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0px;
  color: #45556c;
  text-align: left;
}
.bill-card {
  width: 1230px;
  height: 208px;
  opacity: 1;
  padding-top: 24.8px;
  padding-right: 24.8px;
  padding-bottom: 0.8px;
  padding-left: 24.8px;
  border-radius: 16.4px;
  border-width: 0.8px;
  background: #ffffff;
  border-top: 0.8px solid #e2e8f0;
  box-shadow: 0px 1px 2px -1px #0000001a;
  box-shadow: 0px 1px 3px 0px #0000001a;
  position: relative;
}
.bill-card1 {
  width: 1180.800048828125;
  height: 158.8000030517578;
  gap: 16px;
  opacity: 1;
  padding-top: 16.8px;
  padding-right: 16.8px;
  padding-bottom: 0.8px;
  padding-left: 16.8px;
  border-radius: 10px;
  border-width: 0.8px;
  border-top: 0.8px solid #e2e8f0;
  position: relative;
}
.bill-number {
  font-family: Segoe UI;
  font-weight: 600;
  font-style: Semibold;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0px;
  color: #0f172b;
  margin-bottom: 5px;
  text-align: left;
}
.bill-date {
  width: 82px;
  height: 24px;
  opacity: 1;
  top: -1.2px;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #45556c;
}
.amount {
  width: 47;
  height: 24;
  opacity: 1;
  top: -1.2px;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #0f172b;
}
.text-danger {
  color: #e7000b;
  width: 18;
  height: 24;
  opacity: 1;
  top: -1.2px;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.status-badge {
  background: #dcfce7;
  width: 43.72500228881836;
  height: 26;
  gap: 4px;
  opacity: 1;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  border-radius: 26843500px;
  color: #008236;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
}
